{"filter":false,"title":"requirements.txt","tooltip":"/my-bixby-hphk/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":18},"end":{"row":4,"column":18},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1557632088743,"hash":"b7fd887713c2779abf0fa37c324d50bacd1c91c3"}